body {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a,
button {
  @include transEase();
}

ul {
  @include list-none;
  padding: 0;
  margin: 0;
}

a:focus,
button:focus {
  outline: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: var(--white);
  background: var(--color-100);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-100) var(--white);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-100);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

.fc-100 {
  color: var(--color-100);
}
.fc-200 {
  color: var(--color-200);
}

.fw-100 {
  font-weight: var(--font-weight-lighter);
}
.fw-200 {
  font-weight: var(--font-weight-light);
}
.fw-300 {
  font-weight: var(--font-weight-normal);
}
.fw-400 {
  font-weight: var(--font-weight-medium);
}
.fw-500 {
  font-weight: var(--font-weight-semibold);
}
.fw-600 {
  font-weight: var(--font-weight-bold);
}

.scrollTop {
  // display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border: 0;
  background: var(--color-100);
  border-radius: 50%;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include transEase();
  z-index: 10;
  img {
    position: relative;
    width: 20px;
    animation: upBounce 2s infinite;
  }
  &.visible {
    display: block;
  }
  &:hover {
    span {
      img {
        top: 5px;
      }
    }
  }
}

.pt-6 {
  padding-top: 4rem !important;
}
.pt-7 {
  padding-top: 6rem !important;
}
.pt-8 {
  padding-top: 8rem !important;
}
.pt-9 {
  padding-top: 10rem !important;
}
.pb-6 {
  padding-bottom: 4rem !important;
}
.pb-7 {
  padding-bottom: 6rem !important;
}
.pb-8 {
  padding-bottom: 8rem !important;
}
.pb-9 {
  padding-bottom: 10rem !important;
}
.ps-6 {
  padding-left: 4rem !important;
}
.ps-7 {
  padding-left: 6rem !important;
}
.ps-8 {
  padding-left: 6rem !important;
}
.ps-9 {
  padding-left: 6rem !important;
}
.pe-6 {
  padding-right: 4rem !important;
}
.pe-7 {
  padding-right: 6rem !important;
}
.pe-8 {
  padding-right: 8rem !important;
}
.pe-9 {
  padding-right: 10rem !important;
}
.px-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.px-7 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.px-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}
.px-9 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}
.py-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.py-7 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.py-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}
.py-9 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

.banner-sec {
  position: relative;
}

.banner-cover {
  position: relative;
  overflow: hidden;
}

.banner-cover {
  position: relative;
  height: 100vh;
  .carousel {
    height: 100%;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        &.active {
          img {
            transition: transform 5000ms linear 0s;
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .banner-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    z-index: 30;
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    width: 60px;
    height: 60px;
    color: var(--bk-grade-950);
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 10;
    animation: downBounce 2s infinite;
    i {
      color: var(--bk-grade-950);
      font-size: 1.5rem;
    }
  }
}

.banner-content {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  h2 {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    margin: 0 0 1rem 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    .first-word {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: -5px;
        width: 50px;
        height: 55px;
        background-image: url(../../../public/images/d-shape.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
  h4 {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--font-weight-semibold);
    margin: 0 0 1rem 0;
  }
  .banner-nav {
    margin-top: 2rem;
    .btn-book {
      display: block;
      width: 100%;
      max-width: 300px;
      color: var(--white);
      padding: 0.875rem 1rem;
      margin: 0 auto;
      background-color: var(--bk-grade-950);
      border-radius: 0;
      text-transform: uppercase;
      &:hover {
        background-color: var(--color-100);
      }
    }
  }
}

.welcome-sec {
  position: relative;
  overflow: hidden;
}

.welcome-img-cover {
  position: relative;
  margin-left: auto;
  max-width: 425px;
  margin-right: 4rem;
  margin-bottom: 5rem;
  .welcome-img {
    border-radius: 0 0 250px 250px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .particle-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .particle-item {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4rem;
      margin: 0 auto;
      width: 2rem;
      .particle-svg {
        fill: none;
        stroke: rgb(0, 0, 0);
        stroke-miterlimit: 1;
        stroke-width: 3px;
        stroke-linecap: square;
        stroke-dasharray: 1;
        stroke-dashoffset: 10px;
        animation: bannerParticle 8s 1s infinite;
      }
    }
  }
  .wel-d-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translate(-50%, 25%);
    img {
      width: 100%;
    }
  }
}

.btn-com {
  display: block;
  max-width: 200px;
  color: var(--white);
  padding: 0.875rem 2rem;
  margin: 0;
  background-color: var(--bk-grade-950);
  border-radius: 0;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-100);
  }
}

.welcome-content {
  .welcome-con-hd {
    margin-bottom: 2rem;
    h1 {
      color: var(--bk-grade-950);
      font-size: 2.5rem;
      font-weight: var(--font-weight-normal);
      margin: 0;
      span {
        color: var(--color-100);
        font-weight: var(--font-weight-semibold);
      }
    }
  }
  h4 {
    color: var(--bk-grade-750);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-750);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    @extend .btn-com;
  }
}

.section-hd {
  margin-bottom: 4rem;
  h2,
  h3 {
    color: var(--bk-grade-950);
    font-size: 2.25rem;
    font-weight: var(--font-weight-normal);
    margin: 0;
    span {
      font-weight: var(--font-weight-semibold);
    }
  }
}

.process-sec {
  position: relative;
}

.pro-bg-graphics {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .particle-item {
    position: absolute;
    width: 2rem;
    .particle-svg {
      fill: none;
      stroke: rgb(0, 0, 0);
      stroke-miterlimit: 1;
      stroke-width: 3px;
      stroke-linecap: square;
      stroke-dasharray: 1;
      stroke-dashoffset: 10px;
      animation: bannerParticle 8s 1s infinite;
    }
    &.part-item-01 {
      left: 10%;
      top: 25%;
    }
    &.part-item-02 {
      right: 10%;
      top: 15%;
    }
  }
}

.process-hd {
  position: relative;
  h2 {
    font-size: 2.5rem;
  }
  text-align: center;
}

.process-item {
  position: relative;
  max-width: 260px;
  padding-top: 2.5rem;
  margin: 0 auto;
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 auto;
    background-color: var(--color-100);
    border-radius: 50%;
    z-index: 10;
    @include transEase;
  }
  figure {
    margin: 0 0 2rem 0;
    border-radius: 0 0 150px 150px;
    overflow: hidden;
    @include transEase;
    img {
      width: 100%;
      @include transEase;
    }
  }
  .process-body {
    text-align: center;
    p {
      color: var(--bk-grade-750);
      margin: 0;
    }
  }
  &:hover {
    .counter {
      width: 60px;
      height: 60px;
      font-size: 1.125rem;
    }
    figure {
      img {
        filter: grayscale(1);
        transform: scale(1.1);
      }
    }
  }
}

.process-carousel {
  overflow: hidden;
  .owl-theme .owl-dots .owl-dot span {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--bk-grade-150);
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-100);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0;
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--color-100);
  }
  .owl-theme .owl-dots .owl-dot.active span::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-100);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateY(-50%);
    @include transEase;
  }
  .owl-theme .owl-nav .owl-prev {
    left: -3rem;
    background-image: url(../../../public/images/arrow-wt-left.svg);
  }
  .owl-theme .owl-nav .owl-next {
    right: -3rem;
    background-image: url(../../../public/images/arrow-wt-right.svg);
  }
  .owl-theme .owl-nav .owl-prev:hover {
    background-image: url(../../../public/images/arrow-wt-left.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-next:hover {
    background-image: url(../../../public/images/arrow-wt-right.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    &:hover {
      background-color: var(--color-100);
      background-size: 20px;
    }
  }
  &:hover {
    .owl-theme .owl-nav .owl-prev {
      left: 1rem;
    }
    .owl-theme .owl-nav .owl-next {
      right: 1rem;
    }
  }
  .owl-carousel {
    .owl-item {
      &:nth-child(even) {
        .process-item {
          figure {
            border-radius: 150px 150px 0 0;
          }
        }
      }
    }
  }
}

.support-content {
  .section-hd {
    margin-bottom: 2rem;
  }
  h4 {
    color: var(--bk-grade-750);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-750);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    @extend .btn-com;
    max-width: 350px;
  }
}

.support-img {
  max-width: 410px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.book-sec {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #efeded;
  }
  &.ins-book-sec {
    &::before {
      height: 100%;
    }
  }
}

.book-bg-graphics {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .particle-item {
    position: absolute;
    width: 2rem;
    .particle-svg {
      fill: none;
      stroke: rgb(0, 0, 0);
      stroke-miterlimit: 1;
      stroke-width: 3px;
      stroke-linecap: square;
      stroke-dasharray: 1;
      stroke-dashoffset: 10px;
      animation: bannerParticle 8s 1s infinite;
    }
    &.part-item-01 {
      left: 4%;
      top: 4%;
    }
  }
}

.book-form-cover {
  position: relative;
  max-width: 675px;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 2px 8px 16px var(--bk-grade-100);
}
.book-form {
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-control {
    border: 1px solid var(--bk-grade-150);
    border-radius: 0;
    &:focus {
      border: 1px solid var(--bk-grade-300);
    }
  }
  textarea.form-control {
    height: calc(5.5rem + 2px);
  }
  .btn-submit {
    display: block;
    width: 100%;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    padding: 0.75rem 1rem;
    background-color: var(--black);
    border-radius: 0;
    text-transform: uppercase;
    &:hover {
      background-color: var(--color-100);
    }
  }
}

.service-cover {
  position: relative;
  max-width: 575px;
  padding-top: 2rem;
  margin-left: auto;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  @include transEase;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--white);
    @include transEase;
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90px;
    height: 90px;
    padding: 0.25rem;
    margin: 0 0 1.5rem 0;
    .img-shape {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      @include transEase;
      img {
        width: 100%;
      }
    }
    i {
      position: relative;
      display: block;
      width: 78px;
      height: 78px;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .service-body {
    position: relative;
    h5 {
      color: var(--bk-grade-950);
      font-size: 1.25rem;
      font-weight: var(--font-weight-medium);
      margin: 0;
    }
  }
  &:hover {
    &::before {
      left: 0;
      width: 100%;
    }
    figure {
      .img-shape {
        width: 100%;
      }
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.blog-carousel {
  overflow: hidden;
  .owl-theme .owl-dots .owl-dot span {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--bk-grade-150);
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-100);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0;
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--color-100);
  }
  .owl-theme .owl-dots .owl-dot.active span::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 25%;
    width: 42px;
    height: 42px;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-100);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateY(-50%);
    @include transEase;
  }
  .owl-theme .owl-nav .owl-prev {
    left: -3rem;
    background-image: url(../../../public/images/arrow-wt-left.svg);
  }
  .owl-theme .owl-nav .owl-next {
    right: -3rem;
    background-image: url(../../../public/images/arrow-wt-right.svg);
  }
  .owl-theme .owl-nav .owl-prev:hover {
    background-image: url(../../../public/images/arrow-wt-left.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-next:hover {
    background-image: url(../../../public/images/arrow-wt-right.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    &:hover {
      background-color: var(--color-100);
      background-size: 20px;
    }
  }
  &:hover {
    .owl-theme .owl-nav .owl-prev {
      left: 1rem;
    }
    .owl-theme .owl-nav .owl-next {
      right: 1rem;
    }
  }
  .owl-carousel {
    .owl-item {
      &:nth-child(even) {
        .process-item {
          figure {
            border-radius: 150px 150px 0 0;
          }
        }
      }
    }
  }
}

.blog-sec {
  position: relative;
  .blog-bg-graphics {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .particle-item {
      position: absolute;
      &.part-item-01 {
        right: 5%;
        top: 2%;
        width: 150px;
        img {
          width: 100%;
        }
      }
    }
  }
  .blog-hd {
    text-align: center;
  }
}

.blog-item {
  max-width: 400px;
  margin: 0 auto;
  figure {
    margin: 0;
    border-radius: 1.5rem 0 0 0;
    overflow: hidden;
    img {
      width: 100%;
      @include transEase;
    }
  }
  .blog-body {
    padding: 1.5rem 1.5rem 0.5rem;
  }
  .blog-content {
    min-height: 250px;
    .blog-date {
      color: var(--bk-grade-300);
      margin-bottom: 0.5rem;
      span {
        color: var(--color-100);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
      }
    }
    h3 {
      color: var(--bk-grade-950);
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
    }
    p {
      color: var(--bk-grade-750);
    }
  }
  .btn-more {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
    border-radius: 0;
    .nav-label {
      flex: 1 0 0%;
      opacity: 0;
      @include transEase;
    }
    .nav-arrow {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 1.5rem;
      @include transEase;
    }
    &:hover {
      color: var(--white);
      background-color: var(--color-100);
      .nav-label {
        opacity: 1;
      }
      .nav-arrow {
        left: 100%;
        transform: translate(-110%, -50%);
      }
    }
  }
  &:hover {
    figure {
      img {
        filter: grayscale(1);
        transform: scale(1.1);
      }
    }
  }
}

.footer-sec {
  position: relative;
  background-color: #181818;
}

.ft-contact-cover {
  max-width: 325px;
  margin-bottom: 2rem;
  .ft-logo {
    max-width: 325px;
    margin-bottom: 2rem;
    img {
      max-width: 100%;
    }
  }
}

.ft-address {
  margin-bottom: 2rem;
  ul {
    li {
      position: relative;
      color: var(--bk-grade-200);
      margin-bottom: 0.5rem;
      a {
        color: var(--bk-grade-200);
        &:hover {
          color: var(--color-100);
        }
      }
    }
  }
}

.social-list {
  display: flex;
  .soc-item {
    display: inline-block;
    + .soc-item {
      margin-left: 1rem;
    }
    .soc-link {
      position: relative;
      display: block;
      color: var(--bk-grade-250);
      width: 36px;
      height: 36px;
      background-color: #231f20;
      border: 1px solid transparent;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 42px;
        height: 42px;
        border: 1px solid var(--color-100);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        transition: 0.2s ease-out;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 1.25rem;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      &:hover {
        color: #ffffff;
        background-color: var(--color-100);
        border: 1px solid var(--color-100);
        &::before {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.ft-book-cover {
  margin-bottom: 2rem;
  h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-200);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    color: var(--white);
    width: 100%;
    max-width: 200px;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-100);
    border-radius: 0;
    &:hover {
      background-color: lighten($color-100, 10%);
    }
  }
}

.ft-links-cover {
  margin-bottom: 2rem;
  h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  .ft-links {
    .ft-item {
      margin-bottom: 0.5rem;
      .ft-nav {
        position: relative;
        display: block;
        color: var(--bk-grade-200);
        font-size: 1rem;
        padding: 0.25rem 0 0.25rem 0.5rem;
        text-decoration: none;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 2px;
          height: 0;
          background-color: var(--color-100);
          transform: translateY(-50%);
          @include transEase();
        }
        &:hover {
          color: var(--white);
          &::before {
            height: 16px;
          }
        }
      }
    }
  }
}

.copyright-cover {
  margin-top: 3rem;
}

.copyright {
  color: var(--bk-grade-300);
  font-size: 0.875rem;
}

.btm-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .btm-item {
    position: relative;
    font-size: 0.875rem;
    padding: 0.25rem;
    + .btm-item {
      margin-left: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: -0.5rem;
        top: 10px;
        width: 1px;
        height: 12px;
        background-color: var(--bk-grade-300);
      }
    }
    .btm-link {
      display: block;
      color: var(--bk-grade-300);
      &:hover {
        color: var(--white);
      }
    }
  }
}

.coming-sec {
  height: 50vh;
}

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  h2 {
    color: var(--color-100);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
  }
}

.ins-banner-sec {
  background-image: url(../../../public/images/ins-slider-01.jpg);
  background-position: center top;
  background-attachment: fixed;
}

.ins-banner-cover {
  position: relative;
  min-height: 475px;
  .ins-banner-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
  }
}

.ins-banner-hd {
  position: relative;
  text-align: center;
  h1 {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    margin: 0 0 1rem 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    .first-word {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: -5px;
        width: 50px;
        height: 55px;
        background-image: url(../../../public/images/d-shape.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
}

.page-intro-cover {
  position: relative;
  text-align: center;
  .page-intro-hd {
    margin-bottom: 2rem;
    h2 {
      color: var(--bk-grade-950);
      font-size: 2.25rem;
      font-weight: var(--font-weight-normal);
      margin: 0;
    }
  }
  h5 {
    color: var(--bk-grade-950);
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 1rem 0;
  }
}

.info-hd {
  margin-bottom: 4rem;
  text-align: center;
  h3 {
    color: var(--bk-grade-950);
    font-size: 2.5rem;
    font-weight: var(--font-weight-normal);
    margin: 0;
    span {
      color: var(--color-100);
      font-weight: var(--font-weight-semibold);
    }
  }
}

.info-sec {
  .section-hd {
    text-align: center;
  }
}

.info-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .info-item {
    position: relative;
    flex: 1 1 0;
    padding: 0.25rem 0.5rem;
    + .info-item {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: var(--bk-grade-150);
      }
    }
    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 90px;
      height: 90px;
      padding: 0.25rem;
      margin: 0 auto 1rem;
      .img-shape {
        position: absolute;
        left: 0;
        top: 0;
        width: 45px;
        @include transEase;
        img {
          width: 100%;
        }
      }
      i {
        position: relative;
        display: block;
        width: 78px;
        height: 78px;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          transition: 0.2s ease-out;
        }
        .hover {
          transform: translate(-50%, -50%) scale(0.5);
          opacity: 0;
        }
      }
    }
    .info-body {
      position: relative;
      text-align: center;
      p {
        color: var(--bk-grade-950);
        font-size: 1.125rem;
        font-weight: var(--font-weight-medium);
        margin: 0;
      }
    }
    &:hover {
      figure {
        .img-shape {
          width: 100%;
        }
        i {
          img {
            transform: translate(-50%, -50%) scale(1.5);
            opacity: 0;
          }
          .hover {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

.advantage-sec {
  .section-hd {
    text-align: center;
  }
}

.adv-content {
  .adv-con-body {
    margin-bottom: 2rem;
    text-align: center;
    h4 {
      color: var(--bk-grade-950);
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      margin: 0 0 1rem 0;
    }
    p {
      color: var(--bk-grade-950);
      margin: 0 0 1rem 0;
    }
    ul {
      li {
        position: relative;
        color: var(--bk-grade-950);
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
        &::before {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0 0.5rem 0 0;
          background-color: var(--bk-grade-950);
          border-radius: 50%;
        }
      }
    }
  }
}

.contact-content {
  max-width: 450px;
  ul {
    li {
      position: relative;
      color: var(--bk-grade-950);
      padding: 0 0 0 2.5rem;
      margin-bottom: 1rem;
      .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 28px;
        color: var(--bk-grade-950);
      }
      .addr-hr {
        border-top-color: rgba($white, 0.5);
      }
      a {
        color: var(--bk-grade-950);
        &:hover {
          color: var(--color-100);
        }
      }
    }
  }
}

.map-sec {
  position: relative;
}

.map-cover {
  height: 400px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.con-pro-sec {
  position: relative;
  overflow: hidden;
}

.con-pro-item {
  display: flex;
  flex-wrap: wrap;
  figure {
    position: relative;
    flex: 0 0 425px;
    max-width: 425px;
    margin-right: 4rem;
    margin-bottom: 5rem;
    .con-item-img {
      border-radius: 0 0 250px 250px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .particle-cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      .particle-item {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4rem;
        margin: 0 auto;
        width: 2rem;
        .particle-svg {
          fill: none;
          stroke: rgb(0, 0, 0);
          stroke-miterlimit: 1;
          stroke-width: 3px;
          stroke-linecap: square;
          stroke-dasharray: 1;
          stroke-dashoffset: 10px;
          animation: bannerParticle 8s 1s infinite;
        }
      }
    }
    .con-d-shape {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 250px;
      transform: translate(-50%, 25%);
      img {
        width: 100%;
      }
    }
  }
  .con-pro-body {
    flex: 1 0 0%;
    .con-pro-hd {
      max-width: 750px;
      margin-bottom: 2rem;
      h3 {
        color: var(--color-100);
        font-size: 2.25rem;
        font-weight: var(--font-weight-semibold);
        margin: 0;
      }
    }
    h5 {
      color: var(--bk-grade-750);
      font-size: 1.25rem;
      font-weight: var(--font-weight-medium);
      margin: 0 0 2rem 0;
    }
    p {
      color: var(--bk-grade-750);
      margin: 0 0 2rem 0;
    }
    ul {
      padding: 0;
      margin: 0 0 1rem 0;
      li {
        position: relative;
        color: var(--bk-grade-950);
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 8px;
          width: 6px;
          height: 6px;
          margin: 0 0.5rem 0 0;
          background-color: var(--bk-grade-950);
          border-radius: 50%;
        }
      }
    }
  }
  &.con-reverse {
    flex-direction: row-reverse;
    figure {
      margin-right: 0;
      margin-left: 6rem;
      .con-d-shape {
        left: auto;
        right: 0;
        transform: translate(50%, 25%);
      }
    }
  }
}

.requirements-sec {
  .section-hd {
    max-width: 1000px;
    margin: 0 auto 4rem;
    text-align: center;
  }
}

.require-item {
  max-width: 260px;
  margin: 0 auto 2rem;
  figure {
    position: relative;
    margin: 0 0 3rem 0;
    @include transEase;
    .req-img {
      background-color: var(--black);
      border-radius: 0 0 150px 150px;
      overflow: hidden;
      img {
        width: 100%;
        @include transEase;
      }
    }
    .req-d-shape {
      position: absolute;
      right: 0;
      top: 0;
      width: 72px;
      transform: translate(50%, -50%);
      img {
        width: 100%;
      }
    }
  }
  .req-body {
    text-align: center;
    p {
      color: var(--bk-grade-750);
      margin: 0;
    }
  }
  &.req-reverse {
    figure {
      .req-img {
        border-radius: 150px 150px 0 0;
      }
      .req-d-shape {
        top: auto;
        bottom: 0;
        transform: translate(50%, 50%);
      }
    }
  }
  &:hover {
    figure {
      .req-img {
        img {
          opacity: 0.65;
          transform: scale(1.1);
          filter: grayscale(1);
        }
      }
    }
  }
}

.require-it-footer {
  margin-top: 2rem;
  text-align: center;
  p {
    color: var(--bk-grade-750);
    margin: 0 0 1rem 0;
  }
}

.talk-us-cover {
  display: flex;
  flex-wrap: wrap;
}

.talk-us-cover {
  display: flex;
  flex-wrap: wrap;
  figure {
    flex: 0 0 435px;
    max-width: 435px;
    margin: 0;
    img {
      width: 100%;
    }
  }
  .talk-us-body {
    display: flex;
    align-items: center;
    flex: 1 0 0%;
    padding: 4rem 2rem 2rem 4rem;
  }
  .talk-us-con {
    max-width: 700px;
    h3 {
      color: var(--color-100);
      font-size: 2.25rem;
      font-weight: var(--font-weight-semibold);
      margin: 0 0 1rem 0;
    }
    h4 {
      color: var(--bk-grade-750);
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      margin: 0 0 1rem 0;
    }
    p {
      color: var(--bk-grade-750);
      margin: 0 0 1rem 0;
    }
  }
}

.blog-dt-cover {
  margin-bottom: 2rem;
  figure {
    margin: 0;
    img {
      width: 100%;
    }
  }
  .blog-dt-body {
    padding: 2rem 2rem;
    .blog-date {
      color: var(--bk-grade-300);
      margin-bottom: 0.5rem;
      span {
        color: var(--color-100);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
      }
    }
    .blog-dt-hd {
      margin-bottom: 2rem;
      h3 {
        color: var(--bk-grade-950);
        font-size: 1.5rem;
        font-weight: var(--font-weight-medium);
        margin: 0;
      }
    }
    p {
      color: var(--bk-grade-750);
      margin: 0 0 1rem 0;
    }
  }
}

.blog-sm-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--bk-grade-100);
  overflow: hidden;
  figure {
    flex: 0 0 130px;
    max-width: 130px;
    height: 130px;
    margin: 0 1rem 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .blog-sm-body {
    position: relative;
    flex: 1 0 0%;
    z-index: 20;
    h4 {
      color: var(--bk-grade-850);
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      margin: 0 0 1rem 0;
    }
    .blog-date {
      color: var(--bk-grade-750);
      .blog-place {
        color: var(--bk-grade-350);
      }
    }
  }
  &:hover {
  }
}

.blog-search-form {
  margin-bottom: 2rem;
  input {
    border: 1px solid var(--bk-grade-150);
    border-right: 0;
    border-radius: 0;
  }
  .btn-blog {
    border: 1px solid var(--bk-grade-150);
    border-left: 0;
    border-radius: 0;
  }
}

.bankruptcy-video {
  max-width: 1000px;
  margin: 0 auto;
}
