// min -----------------
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  // .dropdown:hover .dropdown-menu {
  //   display: block;
  // }
  // .dropdown-menu {
  //   animation: drop-anim 0.3s ease-out;
  // }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1366px) {
}

@media (min-width: 1600px) {
  .navbar-main .container,
  .navbar-main .container-lg,
  .navbar-main .container-md,
  .navbar-main .container-sm,
  .navbar-main .container-xl,
  .navbar-main .container-xxl {
    max-width: 1450px;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1450px;
  }
}

@media (min-width: 1920px) {
}

// max -----------------

@media (max-width: 1920px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1200px) {
  .navbar-main {
    top: 1rem;
    padding: 1rem 0.5rem 1rem;
  }
  .navbar-main.navbar-fixed {
    padding: 0.5rem 0.5rem 0.5rem;
  }
  .navbar-main .logo {
    width: 325px;
  }
  .navbar-main.navbar-fixed .logo {
    width: calc(325px - 5%);
  }
  .main-nav .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 1023px) {
}

@media (max-width: 991px) {
  .sec-top-pd-lg {
    padding-top: 4rem;
  }
  .sec-top-pd-md {
    padding-top: 2rem;
  }
  .sec-btm-pd-lg {
    padding-bottom: 4rem;
  }
  .sec-btm-pd-md {
    padding-bottom: 2rem;
  }
  .navbar-main {
    top: 0;
    padding: 0.5rem 0 0.5rem;
  }
  .navbar-main.navbar-fixed {
    padding: 0.5rem 0 0.5rem;
  }
  .main-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .main-nav .nav-item + .nav-item::before {
    display: none;
  }
  .banner-content h2 {
    font-size: 2.5rem;
  }
  .welcome-img-cover {
    max-width: 400px;
    margin: 0 auto 8rem;
  }
  .welcome-img-cover .wel-d-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    transform: translate(-50%, 25%);
  }
  .welcome-content .welcome-con-hd h1 {
    font-size: 2rem;
  }
  .welcome-content h4 {
    font-size: 1.125rem;
  }
  .process-hd h2 {
    font-size: 2rem;
  }
  .process-item .counter {
    width: 60px;
    height: 60px;
  }
  .process-item:hover .counter {
    width: 48px;
    height: 48px;
  }
  .section-hd {
    margin-bottom: 2rem;
  }
  .section-hd h2 {
    font-size: 2rem;
  }
  .support-content {
    margin-bottom: 2rem;
  }
  .support-content h4 {
    font-size: 1.125rem;
  }
  .book-sec::before {
    height: 100%;
  }
  .book-form-cover {
    max-width: 600px;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto 2rem;
  }
  .service-cover {
    max-width: unset;
    padding-top: 0;
    margin-left: 0;
  }
  .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
  .btm-list {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .ft-contact-cover .ft-logo {
    max-width: 300px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 576px) {
  .sec-top-pd-lg {
    padding-top: 3rem;
  }
  .sec-top-pd-md {
    padding-top: 1.5rem;
  }
  .sec-btm-pd-lg {
    padding-bottom: 3rem;
  }
  .sec-btm-pd-md {
    padding-bottom: 1.5rem;
  }
  .navbar-main .logo {
    width: 275px;
  }
  .navbar-main.navbar-fixed .logo {
    width: calc(275px - 5%);
  }
  .banner-content h2 {
    font-size: 2rem;
  }
  .banner-content .banner-nav .btn-book {
    max-width: 250px;
    padding: 0.875rem 0.5rem;
  }
  .banner-cover .arrow-down {
    bottom: 2rem;
    width: 48px;
    height: 48px;
  }
  .welcome-img-cover {
    max-width: 375px;
    margin: 0 auto 6rem;
  }
  .welcome-img-cover .wel-d-shape {
    width: 200px;
  }
  .welcome-content .welcome-con-hd h1 {
    font-size: 1.875rem;
  }
  .section-hd h2 {
    font-size: 1.875rem;
  }
  .book-form-cover {
    padding: 1.5rem;
  }
  .service-item figure {
    width: 75px;
    height: 75px;
    padding: 0.25rem;
  }
  .service-item figure i {
    width: 62px;
    height: 62px;
  }
  .service-item .service-body h5 {
    font-size: 1.125rem;
  }
  .ft-book-cover h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
  }
  .ft-links-cover h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
  }
  .copyright-cover {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-main .logo {
    width: 250px;
  }
  .navbar-main.navbar-fixed .logo {
    width: calc(250px - 5%);
  }
}

@media (max-width: 320px) {
  .navbar-main .logo {
    width: 220px;
  }
  .navbar-main.navbar-fixed .logo {
    width: calc(220px - 5%);
  }
}
