@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.eot");
  src: url("../../public/fonts/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../public/fonts/Poppins-Regular.woff") format("woff"),
    url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-SemiBold.eot");
  src: url("../../public/fonts/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../../public/fonts/Poppins-SemiBold.woff") format("woff"),
    url("../../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Medium.eot");
  src: url("../../public/fonts/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../../public/fonts/Poppins-Medium.woff") format("woff"),
    url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Bold.eot");
  src: url("../../public/fonts/Poppins-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../public/fonts/Poppins-Bold.woff") format("woff"),
    url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Light.eot");
  src: url("../../public/fonts/Poppins-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Poppins-Light.woff2") format("woff2"),
    url("../../public/fonts/Poppins-Light.woff") format("woff"),
    url("../../public/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a,
button {
  @include transEase();
}

ul {
  @include list-none;
  padding: 0;
  margin: 0;
}

a:focus,
button:focus {
  outline: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: var(--white);
  background: var(--color-100);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-100) var(--white);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-100);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

.txt-primary {
  color: var(--color-100);
}
.txt-secondary {
  color: var(--color-200);
}

.form-control:focus {
  box-shadow: none;
}

.btn-shine {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(208, 242, 255, 0) 0%,
      rgba(208, 242, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    z-index: 10;
  }
}
.btn-shine {
  &:hover {
    &:before {
      animation: btn-shineAnim 0.75s;
    }
  }
}

.scrollTop {
  // display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border: 0;
  background: var(--color-100);
  border-radius: 50%;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include transEase();
  z-index: 10;
  img {
    position: relative;
    width: 20px;
    animation: upBounce 2s infinite;
  }
  &.visible {
    display: block;
  }
  &:hover {
    span {
      img {
        top: 5px;
      }
    }
  }
}

.content-sec {
  position: relative;
  padding: 6rem 0 6rem;
  &.con-no-py {
    padding: 0;
  }
}

.sec-top-pd-lg {
  padding-top: 6rem;
}
.sec-top-pd-md {
  padding-top: 3rem;
}
.sec-btm-pd-lg {
  padding-bottom: 6rem;
}
.sec-btm-pd-md {
  padding-bottom: 3rem;
}

.navbar-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--white);
  box-shadow: none;
  z-index: 1030;
  .navbar-collapse {
    flex-direction: column;
  }
  .logo {
    width: 365px;
    @include transEase;
    transition-duration: 600ms;
    img {
      width: 100%;
    }
  }
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    background-color: var(--color-100);
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  &.navbar-fixed {
    position: fixed;
    top: 0;
    max-width: unset;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    .logo {
      width: calc(365px - 5%);
    }
    .main-nav {
      margin-top: 0.25rem;
    }
  }
}

.navbar-toggler {
  background: var(--color-100);
  padding: 0.25rem;
  border: 0 solid transparent;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  &::after {
    display: none;
  }
  svg {
    width: 42px;
    transform-origin: center;
    transition: all 1s;
  }
  .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }
  &[aria-expanded="true"] {
    svg {
      rotate: 0.125turn;
    }
    .line {
      stroke-dasharray: 60 105 60 300;
      stroke-dashoffset: -90;
    }
  }
  &:focus {
    box-shadow: none;
  }
}

.info-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  .nav-item {
    .nav-link {
      color: var(--bk-grade-950);
      font-size: 0.875rem;
      font-weight: var(--font-weight-medium);
      padding: 0.1rem 0.5rem;
      white-space: nowrap;
      .nav-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        margin-right: 0.25rem;
        animation: iconHorizotalRotation 3s ease-out infinite;
        i {
          font-size: 1.25rem;
        }
      }
      &:hover {
        color: var(--color-100) !important;
      }
      &.nav-lng {
        padding: 0.05rem 1rem;
        border-radius: 2px;
        text-align: center;
        &.active-lng {
          color: var(--white);
          background-color: var(--color-100);

          &:hover {
            color: var(--white) !important;
          }
        }
      }
    }
    &.nav-lng-item {
      margin-left: 2rem;
    }
  }
}

.main-nav {
  margin-top: 1rem;
  margin-left: auto;
  @include transEase;
  .nav-item {
    position: relative;
    + .nav-item {
      margin-left: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: -0.5rem;
        top: 12px;
        width: 1px;
        height: 12px;
        background-color: var(--bk-grade-300);
      }
    }
    .nav-link {
      color: var(--bk-grade-950);
      font-size: 0.875rem;
      font-weight: var(--font-weight-medium);
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      .nav-block {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -0.5rem;
          width: 0;
          height: 3px;
          margin: 0 auto;
          border-radius: 4px;
          background-color: var(--color-100);
          @include transEase;
        }
      }
      &:hover {
        color: var(--color-100) !important;
        .nav-block {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &.active {
      .nav-link {
        background-color: transparent !important;
        .nav-block {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.banner-sec {
  position: relative;
}

.banner-cover {
  position: relative;
  overflow: hidden;
}

.banner-cover {
  position: relative;
  height: 100vh;
  .carousel {
    height: 100%;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        &.active {
          img {
            transition: transform 5000ms linear 0s;
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .banner-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
    z-index: 30;
  }
  .banner-content {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    h2 {
      color: var(--white);
      font-size: 3.5rem;
      font-weight: var(--font-weight-bold);
      line-height: 100%;
      margin: 0 0 1rem 0;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    }
    h4 {
      color: var(--white);
      font-size: 1.125rem;
      font-weight: var(--font-weight-semibold);
      margin: 0 0 1rem 0;
    }
    .banner-nav {
      margin-top: 2rem;
      .btn-book {
        display: block;
        width: 100%;
        max-width: 300px;
        color: var(--white);
        padding: 0.875rem 1rem;
        margin: 0 auto;
        background-color: var(--bk-grade-950);
        border-radius: 0;
        text-transform: uppercase;
        &:hover {
          background-color: var(--color-100);
        }
      }
    }
  }
}

.welcome-sec {
  position: relative;
  overflow: hidden;
}

.welcome-img-cover {
  position: relative;
  margin-left: auto;
  max-width: 425px;
  margin-right: 4rem;
  .welcome-img {
    border-radius: 0 0 250px 250px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .d-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translate(-50%, 25%);
    img {
      width: 100%;
    }
  }
}

.btn-com {
  display: block;
  max-width: 200px;
  color: var(--white);
  padding: 0.875rem 2rem;
  margin: 0;
  background-color: var(--bk-grade-950);
  border-radius: 0;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-100);
  }
}

.welcome-content {
  .welcome-con-hd {
    margin-bottom: 2rem;
    h1 {
      color: var(--bk-grade-950);
      font-size: 2.5rem;
      font-weight: var(--font-weight-normal);
      margin: 0;
      span {
        color: var(--color-100);
        font-weight: var(--font-weight-semibold);
      }
    }
  }
  h4 {
    color: var(--bk-grade-750);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-750);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    @extend .btn-com;
  }
}

.section-hd {
  margin-bottom: 4rem;
  h2 {
    color: var(--bk-grade-950);
    font-size: 2.25rem;
    font-weight: var(--font-weight-normal);
    margin: 0;
    span {
      font-weight: var(--font-weight-semibold);
    }
  }
}

.process-sec {
  position: relative;
}

.process-hd {
  h2 {
    font-size: 2.5rem;
  }
  text-align: center;
}

.process-item {
  position: relative;
  max-width: 260px;
  padding-top: 2.5rem;
  margin: 0 auto;
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 auto;
    background-color: var(--color-100);
    border-radius: 50%;
    z-index: 10;
    @include transEase;
  }
  figure {
    margin: 0 0 2rem 0;
    border-radius: 0 0 150px 150px;
    overflow: hidden;
    @include transEase;
    img {
      width: 100%;
      @include transEase;
    }
  }
  .process-body {
    text-align: center;
    p {
      color: var(--bk-grade-750);
      margin: 0;
    }
  }
  &:hover {
    .counter {
      width: 60px;
      height: 60px;
      font-size: 1.125rem;
    }
    figure {
      img {
        filter: grayscale(1);
        transform: scale(1.1);
      }
    }
  }
}

.process-carousel {
  overflow: hidden;
  .owl-theme .owl-dots .owl-dot span {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--bk-grade-150);
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-100);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0;
    @include transEase;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--color-100);
  }
  .owl-theme .owl-dots .owl-dot.active span::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-100);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateY(-50%);
    @include transEase;
  }
  .owl-theme .owl-nav .owl-prev {
    left: -3rem;
    background-image: url(../../public/images/arrow-wt-left.svg);
  }
  .owl-theme .owl-nav .owl-next {
    right: -3rem;
    background-image: url(../../public/images/arrow-wt-right.svg);
  }
  .owl-theme .owl-nav .owl-prev:hover {
    background-image: url(../../public/images/arrow-wt-left.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-next:hover {
    background-image: url(../../public/images/arrow-wt-right.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    &:hover {
      background-color: var(--color-100);
      background-size: 20px;
    }
  }
  &:hover {
    .owl-theme .owl-nav .owl-prev {
      left: 1rem;
    }
    .owl-theme .owl-nav .owl-next {
      right: 1rem;
    }
  }
  .owl-carousel {
    .owl-item {
      &:nth-child(even) {
        .process-item {
          figure {
            border-radius: 150px 150px 0 0;
          }
        }
      }
    }
  }
}

.support-content {
  .section-hd {
    margin-bottom: 2rem;
  }
  h4 {
    color: var(--bk-grade-750);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-750);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    @extend .btn-com;
    max-width: 350px;
  }
}

.support-img {
  max-width: 410px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.book-sec {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #efeded;
  }
}

.book-form-cover {
  position: relative;
  max-width: 675px;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 2px 8px 16px var(--bk-grade-100);
}
.book-form {
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-control {
    border: 1px solid var(--bk-grade-150);
    border-radius: 0;
    &:focus {
      border: 1px solid var(--bk-grade-300);
    }
  }
  textarea.form-control {
    height: calc(5.5rem + 2px);
  }
  .btn-submit {
    display: block;
    width: 100%;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    padding: 0.75rem 1rem;
    background-color: var(--black);
    border-radius: 0;
    text-transform: uppercase;
    &:hover {
      background-color: var(--color-100);
    }
  }
}

.service-cover {
  position: relative;
  max-width: 575px;
  padding-top: 2rem;
  margin-left: auto;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  @include transEase;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--white);
    @include transEase;
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90px;
    height: 90px;
    padding: 0.25rem;
    margin: 0 0 1.5rem 0;
    .img-shape {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      @include transEase;
      img {
        width: 100%;
      }
    }
    i {
      position: relative;
      display: block;
      width: 78px;
      height: 78px;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .service-body {
    position: relative;
    h5 {
      color: var(--bk-grade-950);
      font-size: 1.25rem;
      font-weight: var(--font-weight-medium);
      margin: 0;
    }
  }
  &:hover {
    &::before {
      left: 0;
      width: 100%;
    }
    figure {
      .img-shape {
        width: 100%;
      }
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.blog-sec {
  .blog-hd {
    text-align: center;
  }
}

.blog-item {
  max-width: 400px;
  margin: 0 auto;
  figure {
    margin: 0;
    border-radius: 1.5rem 0 0 0;
    overflow: hidden;
    img {
      width: 100%;
      @include transEase;
    }
  }
  .blog-body {
    padding: 1.5rem 1.5rem 0.5rem;
  }
  .blog-content {
    min-height: 250px;
    .blog-date {
      color: var(--bk-grade-300);
      margin: none;
      margin-bottom: 0.5rem;
      span {
        color: var(--color-100);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
      }
    }
    h3 {
      color: var(--bk-grade-950);
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
    }
    p {
      color: var(--bk-grade-750);
    }
  }
  .btn-more {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
    border-radius: 0;
    .nav-label {
      flex: 1 0 0%;
      opacity: 0;
      @include transEase;
    }
    .nav-arrow {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 1.5rem;
      @include transEase;
    }
    &:hover {
      color: var(--white);
      background-color: var(--color-100);
      .nav-label {
        opacity: 1;
      }
      .nav-arrow {
        left: 100%;
        transform: translate(-110%, -50%);
      }
    }
  }
  &:hover {
    figure {
      img {
        filter: grayscale(1);
        transform: scale(1.1);
      }
    }
  }
}

.footer-sec {
  position: relative;
  background-color: #181818;
}

.ft-contact-cover {
  max-width: 325px;
  margin-bottom: 2rem;
  .ft-logo {
    margin-bottom: 2rem;
    img {
      max-width: 100%;
    }
  }
}

.ft-address {
  margin-bottom: 2rem;
  ul {
    li {
      position: relative;
      color: var(--bk-grade-200);
      margin-bottom: 0.5rem;
      a {
        color: var(--bk-grade-200);
        &:hover {
          color: var(--color-100);
        }
      }
    }
  }
}

.social-list {
  display: flex;
  .soc-item {
    display: inline-block;
    + .soc-item {
      margin-left: 1rem;
    }
    .soc-link {
      position: relative;
      display: block;
      color: var(--bk-grade-250);
      width: 36px;
      height: 36px;
      background-color: #231f20;
      border: 1px solid transparent;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 42px;
        height: 42px;
        border: 1px solid var(--color-100);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        transition: 0.2s ease-out;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 1.25rem;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      &:hover {
        color: #ffffff;
        background-color: var(--color-100);
        border: 1px solid var(--color-100);
        &::before {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.ft-book-cover {
  margin-bottom: 2rem;
  h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  p {
    color: var(--bk-grade-200);
    margin: 0 0 2rem 0;
  }
  .btn-book {
    color: var(--white);
    padding: 0.75rem 1.5rem;
    background-color: var(--color-100);
    border-radius: 0;
    &:hover {
      background-color: darken($color-100, 10%);
    }
  }
}

.ft-links-cover {
  h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    margin: 0 0 2rem 0;
  }
  .ft-links {
    .ft-item {
      margin-bottom: 0.5rem;
      .ft-nav {
        position: relative;
        display: block;
        color: var(--bk-grade-200);
        font-size: 1rem;
        padding: 0.25rem 0 0.25rem 0.5rem;
        text-decoration: none;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 2px;
          height: 0;
          background-color: var(--color-100);
          transform: translateY(-50%);
          @include transEase();
        }
        &:hover {
          color: var(--white);
          &::before {
            height: 16px;
          }
        }
      }
    }
  }
}

.copyright-cover {
  margin-top: 3rem;
}

.copyright {
  color: var(--bk-grade-300);
  font-size: 0.875rem;
}

.btm-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .btm-item {
    position: relative;
    font-size: 0.875rem;
    padding: 0.25rem;
    + .btm-item {
      margin-left: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: -0.5rem;
        top: 10px;
        width: 1px;
        height: 12px;
        background-color: var(--bk-grade-300);
      }
    }
    .btm-link {
      display: block;
      color: var(--bk-grade-300);
      &:hover {
        color: var(--white);
      }
    }
  }
}

.coming-sec {
  height: 50vh;
}

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  h2 {
    color: var(--color-100);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
  }
}
